
.lock-screen {
  color: #FFF;
  font-family: 'Open Sans';
}

.no-pointer {
  pointer-events: none;
}

.lock-screen .enter-passcode {
  font-size: 1.1em;
  text-align: center;
}

.lock-screen .delete {
  text-align: right;
}

.lock-screen .input-dot {
  text-align: center;
}

.lock-screen .slide-to-unlock {
  text-align: center;
}

.lock-screen .slide-to-unlock img.mask {
  width: 182px;
}

.lock-screen .clock {
  font-size: 2.3em;
  font-weight: 200;
  text-align: center;
}

.lock-screen .calendar {
  font-size: 1.1em;
  text-align: center;
}



.number-button {
  text-align: center;
}

.number-button .number {
  margin-top: .25em;
  font-size: 2.2em;
}

.number-button .letters {
  font-size: .6em;
  margin-top: -.4em;
}

.number-button .ring {
  left: 0;
  top: 0;
}