body {
  padding: 0;
  margin: 0;
}



.famous-angular-container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.background-dark {
  background-color: #303030;
}


.top-triangle {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 75.5px 75.5px 75.5px;
  border-color: transparent transparent rgb(44,184,196) transparent;
  backface-visibility: visible;
  -webkit-backface-visibility: visible;
}

.left-triangle {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 75.5px 75.5px 75.5px 0;
  border-color: transparent rgb(44,184,196) transparent transparent;
}

.right-triangle {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 75.5px 0 75.5px 75.5px;
  border-color: transparent transparent transparent rgb(44,184,196);
}

.bottom-triangle{
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 75.5px 75.5px 0 75.5px;
  border-color: rgb(44,184,196) transparent transparent transparent;
}

.animations-text {
  font-size: 1.1em;
  color: #FFFFFA;
  text-align: center;
}

.top-triangle.light{
  border-color: transparent transparent rgb(245,250,250) transparent;
}

.left-triangle.light{
  border-color: transparent rgb(245,250,250) transparent transparent;
}

.right-triangle.light{
  border-color: transparent transparent transparent rgb(245,250,250);
}

.bottom-triangle.light{
  border-color: rgb(245,250,250) transparent transparent transparent;
}

.center-square {
  background-color: rgb(245,250,250);
}

.center-content {
  color: #303030;
  text-align: center;
  padding: 10pt;
}
