body {
  padding: 0;
  margin: 0;
}

.famous-angular-container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}


.top-triangle {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 75px 75px 75px;
  border-color: transparent transparent #606060 transparent;
  backface-visibility: visible;
  -webkit-backface-visibility: visible;
}

.left-triangle {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 75px 75px 75px 0;
  border-color: transparent #606060 transparent transparent;
}

.right-triangle {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 75px 0 75px 75px;
  border-color: transparent transparent transparent #606060;
}

.bottom-triangle{
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 75px 75px 0 75px;
  border-color: #606060 transparent transparent transparent;
}
