.searchBar{
	width: 210px;
	border-radius: 10px;
	height: 20px;
	font-size: 18px;
	margin-top: 7.5px;
}
.tItem{
	background: black;
	color: white;
	line-height: 40px;
	font-weight: bold;
	text-align: center;
	float: left;
	padding: 5px;
}
.tLine{
	background: black;
	z-index: -1;
}