[submodule "app/scripts/famous"]
	path = app/scripts/famous
	url = git@github.com:Famous/famous.git
[submodule "famous-angular-docs"]
	path = famous-angular-docs
	url = https://github.com/thomasstreet/famous-angular-docs.git
