
  <!-- Directives -->
  <li class="menu-section">
    <a href="#" class="api-section">
       Directives
    </a>
    <ul>
        
        <li>
            <a href="{{ page.versionHref }}/api/directive/faAnimation/">
                fa-animation
            </a>
        </li>
        
        <li>
            <a href="{{ page.versionHref }}/api/directive/animate/">
                animate
            </a>
        </li>
        
    </ul>
  </li>


  <!-- Side Menus -->
  <li class="menu-section">
    <a href="#" class="api-section">
       Services
    </a>
    <ul>
        
        <li>
            <a href="{{ page.versionHref }}/api/service/famous/">
                famous
            </a>
        </li>
        
    </ul>
  </li>


  <!-- Side Menus -->
  <li class="menu-section">
    <a href="#" class="api-section">
       Providers
    </a>
    <ul>
        
        <li>
            <a href="{{ page.versionHref }}/api/provider/famousProvider/">
                famousProvider
            </a>
        </li>
        
    </ul>
  </li>
