<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{% if page.meta_description %}{{ page.meta_description }}{% else %}Ionic makes it incredibly easy to build beautiful and interactive mobile apps using HTML5 and AngularJS.{% endif %}">
<meta name="keywords" content="html5,javascript,mobile,drifty,ionic,hybrid,phonegap,cordova,native,ios,android,angularjs">
<meta name="author" content="Drifty">
<meta property="og:image" content="http://ionicframework.com/img/ionic-logo-blog.png"/>
