
.news {
  position: absolute;
  bottom: 0;
  padding-top: 14px;
  width: 100%;
  height: 50px;
  background: rgba(255, 255, 255, 0.2);
  letter-spacing: -0.03em;
  font-weight: bold;
  font-family: "AvenirNextLTPro-Ultlt", "Helvetica Neue", Helvetica, Arial, sans-serif;

  .container {
    overflow: hidden;
    color: #B6D1FF;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  a {
    padding: 0;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    opacity: .85;

    &:hover {
      text-decoration: underline;
      opacity: 1;
    }

    a:visited {
      color:#fff;
    }
  }

  .news-col {
    overflow: hidden;
    height: 26px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
