
.products {

  .content-container {
    background: white;
    min-height: 800px;
    margin-top: 80px;
  }

  h1, h2, p {
    text-align: center;
  }

  h1 {

  }

  .input-container {
    max-width: 500px;
    margin: 20px auto;
  }

}
