h2.underline {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
  margin: 40px 0px 20px 0px;
}
.phone-col {
  padding: 0;

  &.no-case {
    .phone-case {
      background: none;
      margin: 0;
      float: none;
      width: 100%;
      > div {
        width: 100%;
        height: 100%;
        .cp_embed_iframe {
          position: static;
          width: 100% !important;
          height: 100%;
        }
      }
    }
  }

}
.phone-case {
  float: right;
  position: relative;
  z-index: 1;
  width: 380px;
  height: 810px;
  background: url("/img/phone-case.png") no-repeat right top;

  margin-left: 20px;

  a {
    opacity: 1;
  }

  .cp_embed_iframe {
    position: absolute;
    width: 320px !important;
    height: 568px;
    top: 104px;
    left: 37px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3),
       only screen and (   min--moz-device-pixel-ratio: 1.3),
       only screen and (        min-device-pixel-ratio: 1.3),
       only screen and (             min-resolution: 124dpi)
{ 
  .phone-case {
    background-image: url("/img/phone-case@2x.png");
    background-size: 365px 792px;
  }
}

