<!DOCTYPE html>
<html lang="en">
  <head>
    {% include meta_tags.html %}
    <link rel="alternate" type="application/rss+xml" title="Ionic Framework Blog" href="{{ site.url }}/feed.xml">
    <title>{{page.title}}</title>
    {% include head_includes.html %}
  </head>

  <body class="blog-page {{page.body_css}}">
    <div id="newsletter-bar" class="top">
        Get Ionic updates and articles on building great cross-platform mobile apps
        <form action="http://codiqa.createsend.com/t/t/s/jytylh/" method="post">
          <input id="fieldEmail" name="cm-jytylh-jytylh" type="email" placeholder="Your email" required />
          <button type="submit" class="btn btn-default btn-sm">Sign up</button>
        </form>
    </div>
    <div id="blog-wrapper">
      <div id="blog-top">
        <a href="/"><img id="spinner" src="/img/ionic-logo-blog.png" height="96" style="margin-bottom: 10px;"></a>
        <h3>The Official <a href="/">Ionic</a> Blog</h3>
        <h5>The next generation HTML5 hybrid app development framework</h5>
      </div>
      <div id="posts">
        {{ content }}
      </div>
    </div>
	
    <footer class="footer">
      <p>
        A <a href="http://drifty.com/">Drifty</a> product
        created by <a href="https://twitter.com/maxlynch">@maxlynch</a>, 
        <a href="https://twitter.com/adamdbradley">@adamdbradley</a>, and 
        <a href="https://twitter.com/benjsperry">@benjsperry</a>. Licensed under 
        <a href="http://opensource.org/licenses/MIT">MIT</a>.
        <a href="/blog/feed.xml" style="margin-left:15px;">
          <span class="ionic">
            <i class="ion-social-rss"></i>
          </span>
          RSS
        </a>
      </p>
    </footer>

    {% include base_scripts.html %}

  </body>
</html>
