<!DOCTYPE html>
<html lang="en">
  <head>
    {% include meta_tags.html %}
    <title>{{page.title}} - Ionic Framework</title>
    {% include head_includes.html %}
  </head>

  <body class="docs docs-page docs-overview">

    {% include nav_links.html %}

    {% include header.html %}

    <div class="container content-container">

      <div class="row">

        <div class="col-md-2 col-sm-3 aside-menu">

          <div class="docked-menu">

            <!-- Docs: Overview -->
            <ul class="nav left-menu active-menu">
              <li class="menu-title">
                <a href="/docs-generation/overview/">Overview</a>
              </li>
              <li><a href="/docs-generation/overview/#download">Download</a></li>
              <li><a href="/docs-generation/overview/#starter">Starter Project</a></li>
              <li><a href="/docs-generation/overview/#whats-included">What's included</a></li>
              <li><a href="/docs-generation/overview/#css-sass">CSS/SASS</a></li>
              <li><a href="/docs-generation/overview/#angularjs">AngularJS</a></li>
              <li><a href="/docs-generation/overview/#phonegap">Phonegap</a></li>
              <li><a href="/docs-generation/overview/#browser-support">Browser Support</a></li>
              <li><a href="/docs-generation/overview/#license">Licensing</a></li>
              <li><a href="/docs-generation/overview/#contribute">Contribute</a></li>
              <li><a href="/docs-generation/overview/#about">About Ionic</a></li>
            </ul>

            <ul class="nav left-menu">
              <li class="menu-title">
                <a href="/docs-generation/guide/">Guide</a>
              </li>
            </ul>

            <ul class="nav left-menu">
              <li class="menu-title">
                <a href="/docs-generation/components/">CSS</a>
              </li>
            </ul>

            <ul class="nav left-menu">
              <li class="menu-title">
                <a href="/docs/api/">JavaScript</a>
              </li>
            </ul>

          </div>

        </div>

        <div class="col-md-10 col-sm-9 main-content">
          {{ content }}
        </div>

      </div>

    </div>

    <div class="pre-footer">

      <div class="row ionic">

        <div class="col-sm-6 col-a">
          <h4>
            <a href="/docs-generation/guide/">Read the Book <span class="icon ion-arrow-right-c"></span></a>
          </h4>
          <p>
            A walk through of getting Ionic installed, creating a new project, building the UI, adding logic, testing, deploying on the device, and publishing to various app stores.
          </p>
        </div>

        <div class="col-sm-6 col-b">
          <h4>
            <a href="http://forum.ionicframework.com/">Community Forum <span class="icon ion-arrow-right-c"></span></a>
          </h4>
          <p>
            Discuss and share ideas, hacks, and quesitons with others building with Ionic on the official Ionic Forum. Stop by and say Hello!
          </p>
        </div>

      </div>

    </div>

    {% include footer.html %}

    {% include base_scripts.html %}

  </body>
</html>
