<fa-app fa-pipe-to="enginePipe">

  <fa-view id="background-image">
    <fa-modifier>
      <fa-surface fa-background-color="'#dd7022'"></fa-surface>
    </fa-modifier>
    <!-- TODO:  add another, solarized bg image (probably with canvas); opacitate between the two -->
  </fa-view>

  <fa-scroll-view id="main-scroll-view" fa-pipe-from="enginePipe">
    <fa-view id="number-pad">
      <fa-surface>Number pad</fa-surface>
    </fa-view>
    <fa-view id="slide-screen">
      <fa-surface>Slide</fa-surface>
    </fa-view>
  </fa-scroll-view>
</fa-app>