<div class="lock-screen">
  <fa-app fa-pipe-to="enginePipe">
    <fa-view id="background-image">
      <fa-modifier id="blurred-background">
        <fa-surface>
          <img src="images/monkey-blurred.jpg" />
        </fa-surface>
      </fa-modifier>
      <fa-modifier id="clear-background">
        <fa-surface>
          <img src="images/monkey.jpg" />
        </fa-surface>
      </fa-modifier>
    </fa-view>

    <!-- Background blur animation, TODO:  tie to horizontal sync instead of autoplay -->
    <fa-animation duration="3000" autoplay="true">
      <animate  targetModSelector="#blurred-background"
                field="opacity"
                startValue="0"
                endValue="1"
                curve="linear" />
      <animate  targetModSelector="#clear-background"
                field="opacity"
                startValue="1"
                endValue="0"
                curve="linear" />
    </fa-animation>

    <fa-scroll-view id="main-scroll-view" fa-pipe-from="enginePipe" fa-options="options.mainScrollView">

      <!-- Left panel -->
      <fa-view id="number-pad">

        <!-- Header -->
        <fa-modifier fa-translate="positions.enterPasscodeText" fa-size="sizes.enterPasscodeSurface">
          <fa-surface class="enter-passcode">Enter Passcode</fa-surface>
        </fa-modifier>

        <fa-modifier id="dot-container" fa-translate="positions.inputDotsGridLayout" fa-size="sizes.inputDotsGridLayout">
          <fa-grid-layout fa-options="options.inputDotsGridLayout">
            <fa-surface class="input-dot" fa-size="sizes.inputDot" ng-repeat="dot in inputDots">
              <img ng-if="dot.val" src="images/lock-screen/input-dot-filled.svg" />
              <img ng-if="!dot.val" src="images/lock-screen/input-dot-empty.svg" />
            </fa-surface>
          </fa-grid-layout>
        </fa-modifier>


        <fa-animation id="dot-shake-animation" duration="750">
          <animate  targetModSelector="#dot-container"  
                    field="translate"
                    startValue="[0,0,0]"
                    endValue="[-40,0,0]"
                    curve="linear"
                    timelineLowerBound="0"
                    timelineUpperBound=".1"/>
          <animate  targetModSelector="#dot-container"  
                    field="translate"
                    startValue="[0,0,0]"
                    endValue="[30,0,0]"
                    curve="linear"
                    timelineLowerBound=".1"
                    timelineUpperBound=".2"/>
          <animate  targetModSelector="#dot-container"  
                    field="translate"
                    startValue="[40,0,0]"
                    endValue="[0,0,0]"
                    curve="outElastic"
                    timelineLowerBound=".2"
                    timelineUpperBound="1"/>
        </fa-animation>

        <!-- Number pad -->
        <fa-modifier fa-translate="positions.numberPadGridLayout" fa-size="sizes.numberPadGridLayout">
          <fa-grid-layout fa-options="options.numberPadGridLayout">
            <fa-view ng-repeat="numberButton in numberButtons track by numberButton.number" fa-index="$index">
              <fa-modifier fa-opacity=".8">
                <fa-surface ng-if="numberButton.number !== ''" fa-size="sizes.numberButton" >
                  <img class="ring" src="images/lock-screen/number-button-outline.svg" />
                </fa-surface>
              </fa-modifier>


              <!-- Flash-on-tap overlay -->
              <fa-modifier fa-opacity="0" id="{{'number-button-' + $index}}">
                <fa-surface ng-if="numberButton.number !== ''" fa-size="sizes.numberButton" fa-tap="buttonTap($index)">
                  <img class="ring" src="images/lock-screen/number-button-fill.svg" />
                </fa-surface>
              </fa-modifier>
              <fa-animation id="{{'number-button-animation-' + $index}}" duration="400">
                <animate  targetModSelector="{{'#number-button-' + $index}}"
                          field="opacity"
                          startValue="0"
                          endValue=".7"
                          curve="linear"
                          timelineLowerBound="0"
                          timelineUpperBound=".01"/>
                <animate  targetModSelector="{{'#number-button-' + $index}}"
                          field="opacity"
                          startValue=".7"
                          endValue="0"
                          curve="outQuad"
                          timelineLowerBound=".1"
                          timelineUpperBound="1"/>
              </fa-animation>

              <fa-surface fa-size="sizes.numberButton" class="number-button">
                <div class="number">{{numberButton.number}}</div>
                <div class="letters">{{numberButton.letters}}</div>
              </fa-surface>
            </fa-view>
          </fa-grid-layout>
        </fa-modifier>

        <!-- Footer text buttons -->
        <fa-modifier fa-translate="positions.emergencyText">
          <fa-surface>Emergency</fa-surface>
        </fa-modifier>
        <fa-modifier fa-origin="[1,0]" fa-translate="positions.deleteText">
          <fa-surface fa-touch-move="testLog('mrow')"><div style="text-align: right">Delete</div></fa-surface>
        </fa-modifier>
      </fa-view>

      <!-- Right panel -->
      <fa-view id="slide-screen">

        <!-- Clock and calendar -->
        <fa-modifier fa-translate="positions.clock">
          <fa-surface fa-size="sizes.clock" class="clock">8:23</fa-surface>
        </fa-modifier>
        <fa-modifier fa-translate="positions.calendar">
          <fa-surface fa-size="sizes.calendar" class="calendar">Sunday, April 27</fa-surface>
        </fa-modifier>

        <!-- Slide to unlock text -->
        <fa-modifier fa-translate="positions.slideToUnlockText" fa-opacity=".5">
          <fa-surface>
            <div class="slide-to-unlock">
              <img class="mask" src="images/lock-screen/slide-to-unlock-mask.svg" />
            </div>
          </fa-surface>
        </fa-modifier>
      </fa-view>
    </fa-scroll-view>
  </fa-app>
</div>