<div ng-controller="MainCtrl">
  <fa-app id="TimbreAngular" ng-click="click()"
          fa-pipe-to="enginePipe">

      <fa-scroll-view id="StripsView"
                      fa-controller="StripsCtrl"
                      fa-pipe-from="$parent.enginePipe">

          <fa-view ng-repeat="strip in stripContents"
                  fa-name="'strip view ' + $index"
                  fa-size="[300, 50]">

              <fa-modifier
                fa-size="[350, 50]"
                fa-skew="angle"
                fa-translate="[0, 80, 1]"
                fa-rotate-z="angle">
                <fa-surface
                  fa-size="[350, 50]"
                  fa-background-color="'black'">
                </fa-surface>
              </fa-modifier>

              <fa-modifier
                fa-size="[350, 50]"
                fa-rotate-z="angle"
                fa-translate="[20, 83, 1]">
                <fa-surface
                  fa-color="'white'"
                  fa-size="[350, 50]">

                  <img width="30" ng-src="images/strip-icons/{{strip.image}}.png" />

                </fa-surface>
              </fa-modifier>

              <fa-modifier
                fa-size="[350, 50]"
                fa-rotate-z="angle"
                fa-translate="[60, 78, 1]">
                <fa-surface
                  fa-color="'white'"
                  fa-size="[350, 50]">

                  {{strip.text}}
                </fa-surface>
              </fa-modifier>

            </fa-view>
          </fa-view>
      </fa-scroll-view>

      <fa-view
        fa-controller="MainPageCtrl">

        <fa-modifier
          fa-translate="[xTransitionable, 0, 5]">

          <fa-view id="MainPageView">
            <fa-modifier
              fa-translate="[0, 44, 0]">
              <fa-surface
                fa-pipe-to="eventHandler"
                fa-size="[320, 520]">
                <img width="320" src="images/body.png" />
              </fa-surface>
            </fa-modifier>

            <fa-surface
              fa-size="[undefined, 44]"
              fa-background-color="'black'">
            </fa-surface>

            <fa-surface fa-size="[44, 44]">
              <img width="44" src="images/hamburger.png" />
            </fa-surface>

            <fa-modifier fa-origin="[0.5, 0]">
              <fa-surface fa-size="[232, 44]" >
                <img width="232" src="images/search.png" />
              </fa-surface>
            </fa-modifier>
            
            <fa-modifier fa-origin="[1, 0]">
              <fa-surface fa-size="[44, 44]">
                <img width="44" src="images/icon.png" />
              </fa-surface>
            </fa-modifier>
            
          </fa-view>
        </fa-modifier>
      </fa-view>
    </fa-app>
</div>
