<div class="makemefamous" ng-controller='MakeMeFamousCtrl'>
  <div class="images" fa-app fa-pipe-to="eventHandler" style="-webkit-perspective: 800">
      <fa-modifier ng-repeat="row in rows"
                   fa-translate="[0, grid.y(row), grid.z(row)]"
                   fa-rotate-x="grid.xRotation(row)">
          <fa-modifier
            ng-repeat="el in row.elements"
            fa-translate="[el.x, el.y, 0]">
            <fa-surface
              fa-click="showDetail(el.tweet)"
              fa-background-color="red";
              fa-size="[115, 115]">
              <div>
                <div class="showTweet-{{el.showTweet}}">
                  <img class="profile" width="{{el.size}}" height="{{el.size}}" src="{{el.tweet.profile_picture_original}}">
                  <div style="width: {{el.size - 5}}px; height: {{el.size - 5}}px" class="tweet">
                    <p>
                      {{el.tweet.content}}<br>
                      <div class="screen-name">
                        <img class="twitter-bird" src="/images/bird.png">
                        <span class="name">@{{el.tweet.screen_name}}</span>
                      </div>

                    </p>
                  </div>
                </div>
              </div>
            </fa-surface>
          </fa-modifier>
      </fa-modifier>
      <fa-modifier fa-opacity="modalOpacity" fa-translate="[0, 0, modalZ]">
        <fa-surface fa-size="[320, 600]" fa-click="hideDetail()" >
          <div>
            <div class="modal"></div>
          </div>
        </fa-surface>
      </fa-modifier>
      <fa-modifier fa-translate="[xTransitionable, 80, 40]">
        <fa-surface fa-size="[320, 400]">

          <div>
            <div class="content">
              <h1>{{detail.real_name}}</h1>
              <div class="screen-name">
                <img class="twitter-bird" src="/images/bird.png">
                <span class="name">@{{detail.screen_name}}</span>
                <div class="tweet-content">
                  {{detail.content}}
                </div>
              </div>
            </div>
          </div>

        </fa-surface>
      </fa-modifier>
  </div>
  <div class="header">
    <h1><span class="hashtag" ng-click="topTop()">#</span> famous</h1>
  </div>
</div>
