<div class="makemefamous" ng-controller='MakeMeFamousCtrl'>
  <div class="images" fa-app fa-pipe-to="eventHandler" style="-webkit-perspective: 800">
      <fa-modifier ng-repeat="row in rows"
                   fa-translate="[0, grid.y(row), grid.z(row)]"
                   fa-rotate-x="grid.xRotation(row)">
          <fa-modifier
            ng-repeat="el in row.elements"
            fa-translate="[el.x, el.y, 0]">
            <fa-surface
              fa-background-color="red";
              fa-size="[115, 115]">
              <img width="{{el.size}}" height="{{el.size}}" src="{{el.tweet.profile_picture_original}}">
            </fa-surface>
          </fa-modifier>
      </fa-modifier>
  </div>
  <div class="header">
    <h1><span class="hashtag" ng-click="topTop()">#</span> famous</h1>
  </div>
</div>
