<style>
  body {
    background: #638DAB;
  }
</style>

<div fa-app ng-controller="RepeatCtrl" >

  <fa-modifier fa-size="[200, 100]"
               fa-origin="[0.5, 0.1]">
    <fa-modifier 
      class="fade-out"
      fa-size="[undefined, 30]"
      ng-repeat="x in modifierList"
      ng-animate="{leave: 'fade-out'}"
      fa-translate="[0, (x * 35) + 50, 0]">
      <fa-surface fa-size="[undefined, undefined]" fa-background-color="'#97DED6'" fa-click="remove(modifierList, $index)">
        <div>
          {{x}}
        </div>
      </fa-surface>
    </fa-modifier>
  </fa-modifier>

</div>

