<style>
  body {
    background: #638DAB;
  }
</style>

<div fa-app ng-controller="RepeatCtrl" >

  <fa-modifier fa-size="[200, 100]"
               fa-origin="[0.3, 0.2]">
    <fa-surface fa-size="[undefined, 30]">
      <div>
        <h1>Modifiers</h1>
      </div>
    </fa-surfac>
    <fa-modifier 
      fa-size="[undefined, 30]"
      ng-repeat="x in modifierList"
      fa-translate="[0, ($index * 35) + 50, 0]">
      <fa-surface fa-size="[undefined, undefined]" fa-background-color="'#97DED6'" fa-click="remove(modifierList, $index)">
        <div>
          {{x}}
        </div>
      </fa-surface>
    </fa-modifier>
  </fa-modifier>

  <fa-modifier fa-size="[200, 100]"
               fa-origin="[0.6, 0.2]">

    <fa-surface fa-size="[undefined, 30]">
      <div>
        <h1>Surfaces</h1>
      </div>
    </fa-surfac>
      
    <fa-surface ng-repeat="x in surfaceList"
                fa-size="[undefined, 20]" 
                fa-background-color="'#97DED6'" 
                fa-click="remove(surfaceList, $index)">
      <div>
        {{x}}
      </div>
    </fa-surface>
  </fa-modifier>
</div>

