<fa-app fa-presenter="TimbrePres" >

  <fa-view fa-pipe-to="enginePipe2">
    <fa-scroll-view fa-pipe-from="enginePipe2" >
    <fa-modifier ng-repeat="strip in strips track by strip.id"
        fa-translate="[0,stripOptions.stripOffset+ 5*$index,0]" id="stripMod{{$index}}" >
      <fa-modifier fa-translate="[0,0,-15]" fa-rotate-z="stripOptions.angle">
        <fa-modifier fa-size="[undefined, stripOptions.stripHeight]"  fa-skew="stripOptions.angle">
          <fa-surface class="strip">{{strip.label}}</fa-surface>
        </fa-modifier>
      </fa-modifier>
    </fa-modifier>
    </fa-scroll-view>
  </fa-view>

  <fa-modifier id="viewA" fa-translate="[viewAX(), 0 ,10]">

    <fa-view>
      <!-- header -->
      <div ng-include="'views/_header.html'"></div>
      <!-- end header -->
      
      <fa-modifier fa-translate="[0,44,0]" id="tester">
        <fa-surface class="whitePanel" fa-pipe-to="enginePipe"></fa-surface>
        <fa-scroll-view fa-pipe-from="enginePipe"  id="scrollView" >
          <fa-modifier id="{{handleLR(e)}}" ng-repeat="e in events  | testFilter:'name' track by e.id" fa-translate="[0,0,0]">
            <fa-view  fa-index="$index" fa-size="[320,80,1]">
                <fa-modifier id="test" testid="test" class="line" fa-rotate-z="handleZ(e)" fa-translate="[0,25,0]" fa-origin="[e.rand,0, 0]" fa-size="[1,1, 1]">
                  <fa-surface
                    fa-size="[getLineWidth(e),5, 1]"
                    class="tLine"
                    >
                  </fa-surface>
                </fa-modifier>
                <fa-modifier id="testtest" fa-origin="[e.rand,0]">
                  <fa-surface fa-pipe-to="enginePipe" fa-size="[1,1,1]" fa-tap="setEvent(e, $event)">
                    <div class="tItem">{{e.name}}</div>
                  </fa-surface>
                </fa-modifier>
            </fa-view>
          </fa-modifier>
        </fa-scroll-view>
      </fa-modifier>

    </fa-view>
  </fa-modifier>


  <fa-modifier id="viewC" fa-translate="[viewAX()+320, 0, 10]" fa-size="[undefined,undefined]">
    <fa-view>
      <fa-surface style="background:#666" class="blackPanel"></fa-surface>
      <fa-surface ng-click="back()">
        <div style="color:white;font-size:20px;z-index:10;background:rgba(0,0,20,0.6);height:44px">
          < Back
        </div>
      </fa-surface>
      <fa-modifier fa-origin="[0.1,0.2]" fa-size="[80,80]">
        <fa-surface><div style="border:1px solid;width:80px;height:80px;">Button1</div></fa-surface>
      </fa-modifier>
      <fa-modifier fa-origin="[0.5,0.2]" fa-size="[80,80]">
        <fa-surface><div style="border:1px solid;width:80px;height:80px;">Button2</div></fa-surface>
      </fa-modifier>
      <fa-modifier fa-origin="[0.9,0.2]" fa-size="[80,80]">
        <fa-surface><div style="border:1px solid;width:80px;height:80px;">Button3</div></fa-surface>
      </fa-modifier>
      <fa-modifier fa-origin="[0.5,0.5]" fa-size="[70,20]">
        <fa-surface>
          <div style="color:red">{{activeEvent.name}}</div>
        </fa-surface>
      </fa-modifier>
    </fa-view>
  </fa-modifier>

  <fa-animation id="animateTest" timeline="linesTimeline" >
    <animate  targetModSelector=".line"
              field="scale"
              startValue="[1,1,1]"
              endValue="[0,1,1]"
              curve="linear"
              timelineLowerBound="0.5"
              timelineUpperBound="1" />
  </fa-animation>

  <fa-animation id="animateStrip{{$index}}" autoplay="true" duration="stripOptions.duration + stripOptions.staggerDelay * $index" ng-repeat="strip in strips track by strip.id">
    <animate  targetModSelector="#stripMod{{$index}}"
              field="translate"
              startValue="[-{{stripOptions.width}},calcStripY(),0]"
              endValue="[0,0,0]"
              curve="{{stripOptions.curve}}"
              timelineLowerBound="0"
              timelineUpperBound="1" />
  </fa-animation>





</fa-app>