<fa-app fa-presenter="TimbrePres" >

  <fa-modifier ng-repeat="strip in strips track by strip.id"
      fa-translate="[0, $index * stripOptions.stripOffset + stripOptions.topOffset,0]" id="stripMod{{$index}}" >
    <fa-modifier fa-translate="[0,0,-15]" fa-rotate-z="stripOptions.angle">
      <fa-modifier fa-size="[undefined, stripOptions.stripHeight]"  fa-skew="stripOptions.angle">
        <fa-surface class="strip">{{strip.label}}</fa-surface>
      </fa-modifier>
    </fa-modifier>
  </fa-modifier>

  <fa-modifier id="viewA" fa-translate="[viewAX(), 0 ,10]">

    <fa-view>
      <!-- header -->
      <div ng-include="'views/_header.html'"></div>
      <!-- end header -->
      
      <fa-modifier fa-translate="[0,44,0]" id="tester">
        <fa-surface class="whitePanel" fa-pipe-to="enginePipe"></fa-surface>
        <fa-scroll-view fa-pipe-from="enginePipe"  id="scrollView" >
          <fa-view ng-repeat="e in events  | testFilter:'name' track by e.rand" fa-size="[320,80,1]" fa-index="$index" >
              <fa-modifier id="test" testid="test" class="line" fa-rotate-z="handleZ(e)" fa-translate="[0,25,0]" fa-origin="[e.rand,0, 0]" fa-size="[1,1, 1]" >
                <fa-surface
                  fa-size="[getLineWidth(e),5, 1]"
                  class="tLine"
                  >
                </fa-surface>
              </fa-modifier>
              <fa-modifier id="testtest" fa-origin="[e.rand,0]" >
                <fa-surface fa-pipe-to="enginePipe" ng-click="setEvent(e)" fa-size="[1,1,1]">
                  <div class="tItem">{{e.name}}</div>
                </fa-surface>
              </fa-modifier>
          </fa-view>
        </fa-scroll-view>
      </fa-modifier>

    </fa-view>
  </fa-modifier>


  <fa-modifier id="viewC" fa-translate="[viewAX()+320, 0, 10]">
    <fa-surface style="background:#666" class="blackPanel" fa-pipe-to="enginePipe"></fa-surface>
    <fa-surface >
    <div style="color:red;font-size:60px;z-index:10;" >
      {{activeEvent.name}}
    </div>
  </fa-surface>
  </fa-modifier>

  <fa-animation id="animateTest" timeline="linesTimeline" >
    <animate  targetModSelector=".line"
              field="scale"
              startValue="[1,1,1]"
              endValue="[0,1,1]"
              curve="linear"
              timelineLowerBound="0.5"
              timelineUpperBound="1" />
  </fa-animation>

  <fa-animation id="animateStrip{{$index}}" autoplay="true" duration="stripOptions.duration + stripOptions.staggerDelay * $index" ng-repeat="strip in strips track by strip.id">
    <animate  targetModSelector="#stripMod{{$index}}"
              field="translate"
              startValue="[-{{stripOptions.width}},calcStripY(),0]"
              endValue="[0,0,0]"
              curve="{{stripOptions.curve}}"
              timelineLowerBound="0"
              timelineUpperBound="1" />
  </fa-animation>





</fa-app>